name: Issue Labeler

on:
  issues:
    types:
      - opened
      - edited
      - reopened

concurrency:
  group: ${{ github.workflow }}-${{ github.event.issue.number }}
  cancel-in-progress: true

permissions:
  contents: read
  issues: write

jobs:
  label-issue:
    name: label-issue
    runs-on: ubuntu-latest
    steps:
      - name: Apply labels from issue title/body
        uses: github/issue-labeler@v3.4
        with:
          configuration-path: .github/issue-labeler.yml
          enable-versioned-regex: 0
          include-title: 1
          include-body: 1
          sync-labels: 1
