name: Workflow Lint

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - '.github/labeler.yml'
      - '.github/issue-labeler.yml'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - '.github/labeler.yml'
      - '.github/issue-labeler.yml'

permissions:
  contents: read

jobs:
  actionlint:
    name: actionlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint workflows
        uses: rhysd/actionlint@v1.7.11
